<section class="container">
    <figure class="grid" id="grid1">
        <img src="<%= image_path('water.jpg') %>" alt="img 01" />
        <span class="cache"></span>
    </figure>
   <!-- <figure class="grid" id="grid2"></figure> -->
    <figure class="grid" id="grid3"></figure>
    <figure class="grid" id="grid4"></figure>
    <figure class="grid" id="grid5"></figure> 
    <figure class="grid" id="grid6"></figure>
</section>
