<section class="home-container">
<aside class="home-aside"></aside>
<header class="home-header"></header>
<section class="home-content">
    <section class="top-banner"><h1>Heading 1</h1></section>
    <section class="chat">
      <%= render 'layouts/firechat' %>
      <div id='firechat-wrapper'></div>
    </section>
    <%= link_to "Create New Event", newevent_path %>
    <section class="calendar1">
      <script>
       $(document).ready(function() {

        // page is now ready, initialize the calendar...

       $('#calendar').fullCalendar({
        // put your options and callbacks here
           events: '/events.json'
       })

           });
       </script>
       <div id="calendar"></div>
    </section>

</section>
</section>






