<li id="group-<%= group.id %>">
  <header class="group-li-header"><h2><%= group.name %></h2></header>
  <div class="content"></div>
  <div class="group-view"><%= link_to 'View', user_group_path(@user, @group_show) %></div>
</li>