$asset-pipeline: true;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  @include box_sizing;
}

body {
    @include background-image(url("hippy.jpg"));
    min-width: 100%;
    height: 844px;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    max-width: 1920px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Arial;
  color: #4A4A4A;
}

.container {
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 1920px;
}

figure {
  width: 25%;
  height: 25%;
  margin: -.15em;
  display: inline-block;
  opacity: 0;
  transition: background-color 200ms, opacity 200ms;
}

figure:hover {
  background-color: white;
  opacity: .7;
}





















/* footer */

footer {
  /*clear: both; */
  padding-top: 15px;
  border-top: 1px solid white;
  color: #4A4A4A;;
  a {
    color: #eaeaea;;
    &:hover {
      color: #1F0441;;
      text-decoration: none;
    }
  }
  small {
    font-family: Arial;
    padding: 1em;
  }
  
  nav {
      margin-top: -2em;
  }
  
  ul {
    font-family: Arial;
    float: right;
    list-style: none;
    padding-right: 2em;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}