/* options for Bourbo and Sprockets, just leave these alone for now */
$asset-pipeline: true;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* Styling for the validations seen upon unsuccesful signup, leave alone for now */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

    $blue: #05163d;
    $lighter-variant: #1f376c;
    $darker-variant: #00050F;


/* Universal styling, put website-wide changes here */
body {
    background-repeat: no-repeat;
    min-width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    max-width: 1920px;
    overflow-x: hidden;
    @include font-feature-settings("kern", "liga", "pnum");
    -webkit-font-smoothing: antialiased;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

button {
  position: relative;
  z-index: 1000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}



