/* options for Bourbo and Sprockets, just leave these alone for now */
$asset-pipeline: true;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Styling for the validations seen upon unsuccesful signup, leave alone for now */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

    $blue: #05163d;
    $lighter-variant: #1f376c;
    $darker-variant: #00050F;


/* Universal styling, put website-wide changes here */
body {
    background-repeat: no-repeat;
    min-width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    max-width: 1920px;
    overflow-x: hidden;
    @include font-feature-settings("kern", "liga", "pnum");
    -webkit-font-smoothing: antialiased;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

button {
  position: relative;
  z-index: 1000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}


/* Styling for the nav menu slide down, leave alone for now */
.sliding-menu-content {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-accent-color: #477DCA !default;
  $light-gray: #CFD1E7 !default;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $sliding-menu-border-color: $light-gray;
  $sliding-menu-background: gray;
  $sliding-menu-color: $light-gray;
  $sliding-menu-border: 1px solid $sliding-menu-border-color;
  $sliding-menu-background-hover: $base-accent-color;
  $sliding-menu-color-hover: $light-gray;
  $sliding-menu-background-focus: lighten($sliding-menu-background, 5%);

  @include position(fixed, 0px auto 0px 0px);
  @include size(100% 4em);
  @include transform(translateY(-4em));
  @include transition(all 0.25s linear);
  background: $sliding-menu-background;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  
  

  li a {
    color: $sliding-menu-color;
    display: inline-block;
    float: right;
    margin-top: .25em;
    font-weight: bold;
    padding: 1em;
    transition: background-color 200ms;

    &:focus {
      background-color: $sliding-menu-background-focus;
    }

    &:hover {
      background-color: $sliding-menu-background-hover;
      color: $sliding-menu-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.sliding-menu-fade-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}




.sliding-menu-button {
  @include button(flat, gray);
  @include position(fixed, 0 0 0 0);
  height: .5em;
  width: .5em;
  z-index: 999999;
  @include padding(0);
  display: inline-block;
  cursor: pointer;
  outline: none;

  img {
    height: 2em;
  }
}
    
    
    /* Basic styling for all of the signup forms, change if you need to */
.event-creation, .event-show, .user-show, .user-edit, .user-signup, .user-log-in {
  position: relative;
  @include outer-container(80%);
  top: 4em;
}

/* put all styling for individual pages below, organize every category with a comment to make reading the code easier */

/* user show page */

.about-header {
  width: 100%;
  height: 4.5em;
  background-color: purple;
  position: relative;
  
  .logo {
    position: absolute;
  }
  
  .profile-top {
    position: absolute;
    left: 40%;
    
  }
  
  .life-top {
    position: absolute;
    right: 0;
  }
}

.profile-box {
  position: relative;
  left: 5%;
  margin-top: 2%;
  height: 20em;
  width: 18em;
  float: left;
  
  .profile-box-header {
    position: relative;
    top: 0;
    background-color: purple;
    text-align: center;
    color: white;
    height: 2em;
    
    h1 {
      position: relative;
      top: 20%;
    }
  }
  
  .profile-pic {
    width: 100%;
    height: 40%;
  }
  
  .change-profile-pic {
    text-align: center;
    position: absolute;
    background-color: purple;
    color: white;
    width: 100%;
    height: 1.5em;
    top: 60%;
    h1 {
      position: relative;
      top: 5%;
    }
  }
  
}

.profile-data-box {
  width: 65%;
  height: 50em;
  position: absolute;
  left: 30%;
  margin-top: 2%;
  
  .profile-data-box-header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: purple;
    height: 2em;
    border: none;
    
    h1 {
      text-align: center;
      color: white;
      position: relative;
      top: 20%;
    }
  }
  .about {
    position: absolute;
    top: 5%;
    width: 30%;
    height: 80%;
    border: 3px solid gray;
    display: inline-block;
    
    .about-header {
      position: relative;
      top: 0;
      width: 100%;
      background-color: purple;
      height: 2em;
      border: none;
      color: white;
      text-align: center;
      h2 {
        position: relative;
        top: 20%;
      }
    }
  }
  
  .school {
    position: absolute;
    top: 5%;
    width: 30%;
    height: 80%;
    border: 3px solid gray;
    display: inline-block;
    left: 35%;
    
    .school-header {
      position: relative;
      top: 0;
      width: 100%;
      background-color: purple;
      height: 2em;
      border: none;
      color: white;
      text-align: center;
      h2 {
        position: relative;
        top: 20%;
      }
    }
  }
  
  .whoareyou {
    position: absolute;
    top: 5%;
    width: 30%;
    height: 80%;
    border: 3px solid gray;
    display: inline-block;
    left: 70%;
    
    .whoareyou-header {
      position: relative;
      top: 0;
      width: 100%;
      background-color: purple;
      height: 2em;
      border: none;
      color: white;
      text-align: center;
      h2 {
        position: relative;
        top: 20%;
      }
  }
}

.profile-data {
  border: none;
  tr {
    border: none;
  }
  td {
    border: none;
    padding-left: 1em;
    padding-bottom: 1.25em;
    font-size: .85em;
  }
}

.class-schedule {
  border: 2px solid gray;
  margin: auto;
  width: 93%;
  tr {
    border: 2px solid gray;
  }
  td {
    border: none;
    padding-left: 1em;
    font-size: .85em;
  }
  #class-schedule-header {
    text-align: center;
    font-weight: bold;
  }
}
.profile-update {
  background-color: white;
  color: gray;
  border: 3px solid gray;
  position: absolute;
  bottom: 0em;
  right: 0em;
  border-radius: 0;
  border-bottom: none;
  border-right: none;
  transition: all 200ms;
}

.profile-update:hover {
  background-color: gray;
  color: white;
}
}

.class-creation {
  position: absolute;
  top: 55em;
  width: 20em;
}

  



















