<script>
// Create a new Firebase reference, and a new instance of the Login client
var chatRef = new Firebase('https://blazing-inferno-7068.firebaseio.com/chat');

function login() {
  chatRef.authWithOAuthPopup("facebook", function(error, authData) {
    if (error) {
      console.log(error);
    }
  });
}

chatRef.onAuth(function(authData) {
  // Once authenticated, instantiate Firechat with our user id and user name
  if (authData) {
    initChat(authData);
  }
});
</script>

<a href='#' onclick='login();'>Login with Facebook</a>
<script>
function initChat(authData) {
  var chat = new FirechatUI(chatRef, document.getElementById('firechat-wrapper'));
  chat.setUser(authData.uid, authData[authData.provider].displayName);
}
</script>