<footer class="footer">
  <div class="container">
  <small>
    Website designed and created by Patrick Schoeps
  </small>
  <nav>
    <ul>
      <li>About</li>
      <li>Contact </li>
    </ul>
  </nav>
  </div>
</footer>